<%- include('../partials/header.ejs', {pageTitle: 'Help page'}) %>
<%- include('../partials/nav.ejs') %>

<h1>This is help page.</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At commodi, laboriosam ipsam facere obcaecati sunt hic ut ex
    amet, corrupti inventore. Repellat, at vero cum obcaecati corrupti labore quibusdam? Optio.</p>

<%- include('../partials/footer.ejs') %>